<div class="container">
    <div>
        <button name="Q" value="Q" (click) = "handleLetter($event)">Q</button>
        <button name="W" value="W" (click) = "handleLetter($event)">W</button>
        <button name="E" value="E" (click) = "handleLetter($event)">E</button>
        <button name="R" value="R" (click) = "handleLetter($event)">R</button>
        <button name="T" value="T" (click) = "handleLetter($event)">T</button>
        <button name="Y" value="Y" (click) = "handleLetter($event)">Y</button>
        <button name="U" value="U" (click) = "handleLetter($event)">U</button>
        <button name="I" value="I" (click) = "handleLetter($event)">I</button>
        <button name="O" value="O" (click) = "handleLetter($event)">O</button>
        <button name="P" value="P" (click) = "handleLetter($event)">P</button>
    </div>
    <div>
        <button name="A" value="A" (click) = "handleLetter($event)">A</button>
        <button name="S" value="S" (click) = "handleLetter($event)">S</button>
        <button name="D" value="D" (click) = "handleLetter($event)">D</button>
        <button name="F" value="F" (click) = "handleLetter($event)">F</button>
        <button name="G" value="G" (click) = "handleLetter($event)">G</button>
        <button name="H" value="H" (click) = "handleLetter($event)">H</button>
        <button name="J" value="J" (click) = "handleLetter($event)">J</button>
        <button name="K" value="K" (click) = "handleLetter($event)">K</button>
        <button name="L" value="L" (click) = "handleLetter($event)">L</button>
    </div>
    <div>
        <button name="Z" value="Z" (click) = "handleLetter($event)">Z</button>
        <button name="X" value="X" (click) = "handleLetter($event)">X</button>
        <button name="C" value="C" (click) = "handleLetter($event)">C</button>
        <button name="V" value="V" (click) = "handleLetter($event)">V</button>
        <button name="B" value="B" (click) = "handleLetter($event)">B</button>
        <button name="N" value="N" (click) = "handleLetter($event)">N</button>
        <button name="M" value="M" (click) = "handleLetter($event)">M</button>
    </div>
</div>
